body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que el body siempre ocupe todo el alto de la pantalla */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px; /* Reducimos un poco el margen horizontal */
}

nav ul li a {
    background-color: #333;
    color: white;
    padding: 8px 15px; /* Reducimos el padding para hacerlos más compactos */
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px; /* Reducimos un poco el tamaño del texto */
    transition: background-color 0.3s ease;
    white-space: nowrap; /* Evitar que los botones se dividan en varias líneas */
    display: block;
}

main {
    padding: 20px;
    margin: auto;
    max-width: 800px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px; /* Reducimos el espacio entre botones */
    }

    nav ul li {
        display: block;  /* Los botones se apilan verticalmente */
        margin: 5px 0;  /* Reducimos el margen vertical */
        width: 100%;
        max-width: 300px; /* Limitar el ancho máximo de los botones */
    }

    nav ul li a {
        padding: 10px 20px;  /* Mantener un padding reducido en pantallas pequeñas */
        font-size: 18px;      /* Ajuste del tamaño del texto */
        text-align: center;
        width: 100%;
    }
}

h2 {
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para la página "Sobre Nosotros" */
.about-section {
    padding: 20px;
    margin: auto;
    max-width: 800px;
    box-sizing: border-box;
}

.about-section h2, .about-section h3 {
    color: #555;
}

.about-section p {
    line-height: 1.6;
    font-size: 1.1em;
}

/* Media Queries solo para la sección de "Sobre Nosotros" */
@media (max-width: 768px) {
    .about-section {
        padding: 15px;
    }

    .about-section h2, .about-section h3 {
        font-size: 1.5em;
    }

    .about-section p {
        font-size: 1em;
        line-height: 1.5em;
    }
}

